.addTaskSection {
  background-color: #ffffff;
  margin-bottom: 10px;
}

.addTaskSection__header {
  font-size: 20px;
  padding-left: 20px;
  height: 80px;
  border-bottom: 1px solid #dddada;
  margin-bottom: 0;
  line-height: 80px;
}

@media (max-width: 300px) {
  .addTaskSection__header {
    height: 100px;
    line-height: 50px;
    text-align: center;
    padding-left: 0;
  }
}
