.tasks {
  margin-block-start: 0;
  padding: 0;
  padding-right: 40px;
  padding-left: 40px;
}

.tasks__listItem {
  border-bottom: 1px solid #dddada;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

.tasks__content {
  padding: 30px;
  font-size: 16px;
  word-break: break-word;
  flex-grow: 1;
}

.tasks__content--done {
  text-decoration: line-through;
}

.tasks__button {
  min-width: 40px;
  height: 40px;
  transition: 0.3s;
  color: white;
  border: none;
}

.tasks__button--toggleDone {
  background-color: rgb(25, 122, 35);
}

.tasks__button--toggleDone:hover {
  cursor: pointer;
  background-color: rgb(25, 122, 35, 0.85);
}

.tasks__button--remove {
  background-color: rgb(237, 41, 60);
}

.tasks__button--remove:hover {
  cursor: pointer;
  background-color: rgb(237, 41, 60, 0.85);
}

@media (max-width: 500px) {
  .tasks__listItem {
    justify-content: space-evenly;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .tasks__button--remove {
    margin-left: unset;
  }
}
