.tasksSection__tasksList {
  margin-block-start: 0;
  padding: 0;
  padding-right: 40px;
  padding-left: 40px;
}

.tasksListItem {
  border-bottom: 1px solid #dddada;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

.tasksListItem__contentSpan {
  padding: 30px;
  font-size: 16px;
  word-break: break-word;
  flex-grow: 1;
}

.tasksListItem__contentSpan--done {
  text-decoration: line-through;
}

.tasksListItem__checkButton {
  min-width: 40px;
  height: 40px;
  background-color: rgb(25, 122, 35);
  transition: 0.3s;
  color: white;
  border: none;
}

.tasksListItem__checkButton:hover {
  cursor: pointer;
  background-color: rgb(25, 122, 35, 0.85);
}

.tasksListItem__removeButton {
  min-width: 40px;
  height: 40px;
  background-color: rgb(237, 41, 60);
  transition: 0.3s;
  color: white;
  border: none;
}

.tasksListItem__removeButton:hover {
  cursor: pointer;
  background-color: rgb(237, 41, 60, 0.85);
}

@media (max-width: 500px) {
  .tasksListItem {
    justify-content: space-evenly;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .tasksListItem__removeButton {
    margin-left: unset;
  }
}
